<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<!--Content for the Add Page-->

<div class="container">
    <main>
      <div class="py-5 text-left">
        <h2>Add a new tournament</h2>
        <hr class="my-6">
      </div>

      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <div class="col-md-7">
            <form method="POST" class="needs-validation">
                <div class="row g-3">
                <div class="col-12">
                    <label for="nameTextField" class="form-label">Tournament Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Tournament Name" name="name" required>
                </div>      

                <div class="col-12">
                    <label for="descriptionTextArea" class="form-label">Tournament Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea" placeholder="Description" name="description" required></textarea>
                </div>

                <div class="col-12">
                    <label for="status" class="form-label">Tournament Status</label>
                    <select class="form-select" name="status" id="status" required>
                        <option value="">Choose...</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
                
                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 1's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player1 Name" name="player1" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 2's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player2 Name" name="player2" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 3's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player3 Name" name="player3" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 4's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player4 Name" name="player4" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 5's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player5 Name" name="player5" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 6's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player6 Name" name="player6" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 7's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player7 Name" name="player7" required >
                </div>

                <div class="col-sm-6">
                    <label for="nameTextField" class="form-label">Player 8's Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Player8 Name" name="player8" required >
                </div>
    
                <button class="w-100 btn btn-primary btn-md" type="submit">Submit</button>
                <a href="/tournamentList" class="w-100 btn  btn-warning btn-md">Cancel</button></a>
            </form>
            </div>
        </div>
      </div>
    </main>
</div>
<br>
<br>


 <%-include ../partials/bottom_nav.ejs%>
 <%-include ../partials/footer.ejs%>

